body {
background-color: #198eaa;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.text1 {
animation: text_anim 5s infinite;
color: white;
}

.Big {
display: flex;
flex-flow: row wrap;
width: 900px;
}


.Big div {
margin-right: 100px;
height: 350px;
width: 350px;
border-radius: 100%;
animation: Animation 5s infinite;
display: flex;
justify-content: center;
align-items: center;
}

/*-------------animation-------------*/

@keyframes Animation {
0% {
background: yellow;

}

50% {
background: #930ad0;
}

100% {
background: black;
}

}

@keyframes text_anim {

0% {
transform: translateY(0px);
    color: aqua;
}

50% {
transform: translateY(-20px);
    color: coral;

}

100% {
transform: translateY(0px);
    color: aqua;
}

}
/*-------------/animation-------------*/