.menu{
    width: 50%;
    height: 30%;
    background: orange;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.button{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.button:hover{
    background:#53ea93;
    
}
.d_menu{
    width: 50%;
    height: 30%;
    background: orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.d_button{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.d_button:hover{
    background:#53ea93;
    
}
.w_menu{
    width: 50%;
    height: 30%;
    background: orange;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.w_button{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.w_button:hover{
    background:#53ea93;
    
}
.p_menu{
    width: 50%;
    height: 30%;
    background: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
}
.p_button{
    text-decoration: none;
    padding: 15px;
    color: white;
}
.p_button:hover{
    background:#53ea93;
    
}

















.q_menu{
    width: 50%;
    height: 30%;
    /*background: orange;*/
    border: solid 3px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap
}
.q_button{
    text-decoration: none;
    padding: 15px;
    color: white;
    border: solid 2px black;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
/*.q_button:hover{
    background:#53ea93;
    
}*/
