.text {
  font-size: 80px;
  font-weight: bold;
  font-family: arial;
  color: #008080;
  text-align: center;
  position:absolute;
  width: 100%;
}

.text:hover {
  color: transparent;
  background-image: linear-gradient(90deg, black, red, blue, green, magenta, cyan, yellow, black);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300px 300px;
  background-position: 0 0;
  animation: bp 3s infinite linear;
}

@keyframes bp {
  from {
    background-position-x: 0px;
  }
  to {
    background-position: bottom;
  }
}

.head {
  font-family: Arial;
  font-size: 60px;
  text-align: center;
}

.square{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border-radius:100% 0% 100% 0% / 100% 0% 100% 0%  ;
  background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  animation: 2s qwer infinite;

}

@keyframes qwer{
  0%{
    border-radius:100% 0% 100% 0% / 100% 0% 100% 0% ;
  }
  50%{
    border-radius:0% 100% 0% 100% / 100% 0% 100% 0%  
  }
  100%{
     border-radius:100% 0% 100% 0% / 100% 0% 100% 0% ;
  }
}


.load{
  width: 100px;
  height: 100px;
  background-image: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  animation:rotate-scale-up 1s linear infinite;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes 
rotate-scale-up{
  0%{
    border-radius: 0%;
  transform: rotateZ(0)
}
  50%{
    border-radius: 100%;
    transform: rotateZ(180deg)
    }
    100%{
      border-radius: 0%;
      transform: rotateZ(360deg)}
    }